header {
    font-size: 52px; /*48 for desktop*/
    background-color: rgb(9, 9, 106);
    color: #fff;
    text-align: center;
    align-content: center;
}

header h1 {
    font-size: 52px;
}

#menu {
    text-align: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Montserrat;
    margin: 0 0 10px 0;
}


#menu li a {
    font-size: 30px;
    color: #fff;
    font-family: Montserrat;
    display: flex;
    margin-right: 10px;
}


@media all and (min-width: 600px) {
    header {
        font-size: 48px;
    }
}